@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: azure;
}

/* navbar */

.navbar {
  width: 100%;
  background-color: rgb(208, 251, 236);
  overflow: auto;
  /* /* position: relative; */
}

.navbar a {
  float: left;
  padding: 15px;
  color: black;
  text-decoration: none;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
}

/* @media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
} */

.navbar img {
  width: 30px;
  height: 25px;
}

.navbar a :hover {
  background-color: rgb(172, 219, 219);
  border-radius: 5px;
}
.navbar-right {
  float: right;
}

/* akhir navbar */

.content {
  padding: 20px;
  margin: 50px;
}
.content > h1 {
  color: black;
  font-style: normal;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.container-btn > button {
  border-radius: 10px;
  padding: 10px 20px;
  text-decoration: none;
  cursor: pointer;
  border: none;
  background-color: #4caf50;
  text-align: center;
  align-items: center;
}

.container-btn > button > a {
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
  font-size: large;
  color: black;
}
.content .images img {
  width: 100%;
}

.text {
  margin-top: 150px;
}

.images {
  float: left;
  flex: 1 1 40rem;
  padding-top: 5rem;
}
.content text {
  text-align: start;
  font-size: large;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex: 1 1 40rem;
}
.content .text span {
  font-size: 3rem;
  color: #666;
}
.content .text h3 {
  font-size: 15px;
  color: black;
}

/* akhir kelas Content */

.main {
  /* display: flex; */
  position: relative;
  justify-content: center;
  display: flex;
  overflow: hidden;
}
.content {
  /* background-color: #e3e9ff; */
  width: 70%;
  /* height: 1000px; */
  /* display: flex; */
  text-align: justify;
  /* padding-top: 50px; */
  padding: 15px 15px 15px 15px;
  margin: 0;
  /* margin-left: 25px; */
}

.sidebar {
  background-color: rgb(163, 214, 214);
  width: 30%;
  height: 90vh;
  padding: 17px 10px 10px 10px;
  /* display: flex; */
  /* border: 1px solid black; */
  /* display: inline-block; */
  /* margin-left: -4px; */
  flex-direction: column;
  display: none;
}

.card-order {
  width: 91%;
  height: 50px;
  margin: 10px 10px 10px 15px;
  background-color: white;
  display: flex;
  text-align: center;
  border-radius: 10px;
  /* justify-content: stretch;
  -webkit-box-shadow: 9px 9px 18px -13px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 9px 9px 18px -13px rgba(0, 0, 0, 0.75);
  box-shadow: 9px 9px 18px -13px rgba(0, 0, 0, 0.75); */
}

.card-order img {
  width: 50px;
  border-radius: 10px;
  margin: 5px;
}

.card-order p {
  padding: 10px;
  font-size: 17px;
  width: 70%;
  font-weight: 500;
  color: #4e4e4e;
  text-align: left;
}

.card-order span {
  padding: 10px;
  font-size: 17px;
  font-weight: 500;
  color: #4e4e4e;
  width: 1%;
}

.card-order button {
  background-color: lightgreen;
  border-radius: 10px;
  padding: 0;
  margin: 10px 0px 10px 20px;
  width: 80px;
  height: 30px;
  border: none;
  color: whitesmoke;
  font-weight: 500;
  align-items: flex-end;
}

.card-order button:hover {
  background-color: rgb(163, 12, 12);
}

.card {
  width: 280px;
  height: max-content;
  background-color: white;
  border-radius: 10px;
  margin: 10px;
  display: inline-block;
  -webkit-box-shadow: 9px 9px 18px -13px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 9px 9px 18px -13px rgba(0, 0, 0, 0.75);
  box-shadow: 9px 9px 18px -13px rgba(0, 0, 0, 0.75);
}

.card img {
  width: 92%;
  height: 80%;
  margin: 10px 10px 0px 10px;
  border-radius: 10px;
  /* display: flex; */
}

.card p {
  margin-left: 10px;
  font-size: 18px;
  font-style: normal;
  font-family: "Mulish", sans-serif;
  color: #4e4e4e;
  font-weight: 700;
}

.card hr {
  margin: 10px;
  color: #b8b8b8;
  border-color: #e2e1e1;
}

.action {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px 10px 10px;
}

.order span {
  font-size: 17px;
  font-weight: 800;
}

.card-finish button {
  border: none;
  text-align: center;
  width: 90%;
  height: 50px;
  margin: 10px 10px 10px 15px;
  background-color: rgb(247, 143, 7);
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
  color: white;
  -webkit-box-shadow: 9px 9px 18px -13px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 9px 9px 18px -13px rgba(0, 0, 0, 0.75);
  box-shadow: 9px 9px 18px -13px rgba(0, 0, 0, 0.75);
}

.card-finish button:hover {
  background-color: rgb(211, 120, 0);
}

.fas {
  color: #ffffff;
}

.total {
  margin: 0px 10px 20px 15px;
}

.total h1 {
  color: white;
}

.detail {
  width: 70%;
  display: flex;
}

/* tentang kami */

.about {
  margin-top: 40px;
  width: 100%;
  display: inline-block;
  /* justify-content: center; */
  text-align: center;
}
.about img {
  width: 300px;
}

.team {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.person {
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 10px;
  width: 200px;
  height: 200px;
  /* border: 1px solid black; */
}
.person img {
  border-radius: 100px;
  width: 100px;
}
.person p {
  font-size: 18px;
  font-weight: 500;
}
.person span {
  font-size: 14px;
}

/* tampilan cart */

/* media responsive */
/* @media (max-width: 800px){
  .row {
  Flex direction: column reverse;
  }
  .col-25 {
  Margin-buttom: 20px;
  }
  } */

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    text-align: center;
    cursor: pointer;
  }
  .navbar img {
    width: 30px;
    height: 25px;
  }

  .navbar a :hover {
    background-color: rgb(172, 219, 219);
    border-radius: 5px;
  }
  .navbar-right {
    float: none;
  }

  /* tentang kami */

  .about {
    margin-top: 40px;
    width: 100%;
    text-align: center;
    position: relative;

    /* justify-content: center; */
    text-align: center;
  }
  .about img {
    width: 300px;
  }

  .team {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
  .person {
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
    width: 200px;
    height: 200px;
    /* border: 1px solid black; */
  }
  .person img {
    border-radius: 100px;
    width: 100px;
  }
  .person p {
    font-size: 18px;
    font-weight: 500;
  }
  .person span {
    font-size: 14px;
  }
}

#content > h1,
#checkout-order-form h2 {
  font-size: 2em;
  text-align: center;
}

#pricing #sub-total,
#pricing #shipping {
  margin: 1em 0;
}

#checkout-order-form {
  margin: 1.5em 0;
}

#checkout-order-form fieldset {
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 1em;
  margin-bottom: 1.3em;
}

#checkout-order-form legend {
  padding: 0.3em;
  background: #fafafa;
  font-weight: bold;
}

#checkout-order-form div {
  margin-bottom: 1em;
}

#checkout-order-form label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.3em;
  text-align: left;
}

#checkout-order-form input[type="text"] {
  width: 200px;
  display: block;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 0.3em;
}

#checkout-order-form select {
  width: 200px;
  display: block;
}

.message {
  display: block;
  margin: 0.5em 0;
  color: red;
}

#user-details {
  margin: 1.5em 0;
}

#user-details > h2 {
  text-align: center;
  font-size: 2em;
}

#user-details-content {
  margin: 1.5em 0;
  padding: 1em;
  border: 1px solid #ddd;
  border-radius: 6px;
  overflow: hidden;
}

#user-details-content .detail {
  float: left;
  width: 46%;
}

#user-details-content .detail.right {
  float: right;
}

#user-details-content .detail > h2 {
  text-align: center;
  font-size: 1.6em;
  margin-bottom: 0.5em;
}

#user-details-content ul {
  margin: 0 0 1em 0;
  padding: 0;
  list-style: none;
}

#user-details-content li {
  display: block;
  margin-bottom: 0.5em;
  padding-bottom: 0.3em;
  border-bottom: 1px solid #ddd;
}

#paypal-form {
  margin: 1.5em 0;
}
